@import "_common";

.page-description {
    margin: 10px 100px 10px 250px;
    @include text-format(13px, 400, #666);

    a {
        color:blue;
    }
    @media(max-width: 768px){
        margin: 10px 10px 10px 30px;
    }
}